<!DOCTYPE html>
{% extends "blog/base.html" %}

{% block title %}Add{% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content%}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type = "submit" class = "button">Save button</button>
        </form>
        <a class = "button" href="{% url 'post_list' %}">Back to Post List</a>
    {% endblock %}
</body>
</html>